@{ 

}

<div class="card my-3">
    <div class="card border-left-success h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">@ViewBag.HeaderDesc</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Header</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-window-restore fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>