
@{
    Layout = null;
}
<html>
<head>
    <title>Sample Site</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Page/Login.css" rel="stylesheet" />
    <script src="~/Scripts/Jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        function fn_SubmitCheck() {
            if ($("#userID").val() == "") {
                alert("아이디를 입력해 주십시오");
                return false;
            }

            if ($("#password").val() == "") {
                alert("비밀번호를 입력해 주십시오");
                return false;
            }

            $("form").submit();
        }
    </script>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="/Images/Logo.png" alt="logo">
                    </div>
                    <div class="card rounded shadow shadow-sm">
                        <div class="card fat">
                            <div class="card-body">
                                <form class="form-signin rounded-lg" method="post">
                                    <h4 class="card-title">Register</h4>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" id="userID" name="userID" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" id="password" name="password" class="form-control mb-0" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" id="passwordCheck" name="password" class="form-control mb-0" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="remember-me" /> Remember Me
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="fn_SubmitCheck();">Login</button>
                                    <br />
                                    Already have an account? <a href="@Url.Action("Register", "Frame")">Login</a>
                                </form>
                            </div>
                        </div>
                        <div class="footer">Copyright © 2019 — Sample</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>